/*==============================Colors=============================*/
/* RGB Color mode */
/*==============================Fonts and Typography=============================*/
/*========== Font weight ==========*/
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  font-size: 0.938rem;
  color: #1F140D;
  background-color: #dbc0a1;
  height: 100vh;
}

p {
  padding: 1.5rem 0 2.5rem 0;
  font-size: 0.938rem;
  color: #1F140D;
  font-weight: 500;
}

/* ================= body style =================*/
h1 {
  font-size: 2rem;
  color: #432818;
  margin: 5px 0 20px 0;
}

h2 {
  font-size: 1.75rem;
  color: #714429;
  margin: 5px 0 20px 0;
}

h3 {
  font-size: 1.5rem;
  color: #af7342;
  margin: 5px 0 20px 0;
}

h4 {
  font-size: 1.25rem;
  color: #e1a97c;
  margin: 5px 0 20px 0;
  margin: 5px 0 20px 0;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #432818;
}
a:hover {
  color: #905f2e;
}
a:active {
  color: #582f0e;
}

/* ================= header =================*/
header {
  position: relative;
}
header .navbar {
  background-color: #e4cfaf;
}
header .navbar .navbar-brand {
  font-weight: 700;
}
header .navbar .navbar-nav {
  display: flex;
  justify-content: end;
}
header .navbar .navbar-nav .nav-item {
  font-weight: 600;
  border-right: 10px #7e5b3d;
}
header .navbar .navbar-nav .nav-item:hover {
  background-color: #774318;
}
header .btn {
  width: 120px;
  color: #1F140D;
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
}
header .btn:hover {
  scale: 1.05;
  background-color: #582f0e;
  border: #582f0e;
}

/* ================= Hero =================*/
.hire_btn {
  width: 120px;
  color: #1F140D;
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.hire_btn:hover {
  scale: 1.05;
}
.hire_btn:active {
  scale: 0.95;
  background-color: var(--call-color-hover);
}

.hero {
  height: 92vh;
  margin: 0 150px 0 150px;
  display: flex;
  align-items: center;
}
.hero .profile .me_profile {
  height: 350px;
}
.hero .profile .social_links {
  display: flex;
  justify-content: center;
}
.hero .profile .social_links a {
  color: var(--fc-nav);
  font-size: 1.85rem;
  padding: 0.5rem;
}
.hero .info .btn_info {
  display: flex;
  gap: 2rem;
}
.hero .info .btn_info p {
  width: 75%;
}
.hero .info .btn_info a {
  width: 120px;
  color: var(--text-color);
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: scale 0.2s ease;
}
.hero .info .btn_info a:hover {
  scale: 1.05;
}
.hero .info .btn_info a:active {
  scale: 0.95;
  background-color: #582f0e;
}

/* ================= about =================*/
/* ================= media queries =================*/
.recent-projects {
  margin: 0 200px;
  padding-top: 3rem;
}

.card-project {
  display: flex;
  gap: 30px;
  padding-top: 2rem;
}

.portfolio {
  text-align: center;
  margin: 50px 80px 0 80px;
}
.portfolio h2 {
  margin: 2rem;
  font-weight: 700;
}
.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.portfolio .box-container .box {
  height: 30rem;
  overflow: hidden;
  position: relative;
}
.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #482407;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transform: translateY(-100%);
  transition: 0.2s linear;
}
.portfolio .box-container .box .content p {
  line-height: 2;
  padding: 1rem 0;
}
.portfolio .box-container .box .content a {
  font-size: 2rem;
}
.portfolio .box-container .box:hover .content {
  transform: translateY(0%);
}

@media (max-width: 600px) {
  .hero {
    display: grid;
    margin: 0 80px 0 80px;
    text-align: center;
  }
  .hero .profile .social_links {
    justify-content: center;
  }
  .hero .info p {
    width: 100%;
  }
  .hero .info .btn_info {
    justify-content: center;
  }
  .hero .card-project {
    flex-direction: column;
  }
  .hero .recent-projects {
    margin: 0 100px;
  }
  .portfolio {
    margin: 25px 0 0 0;
  }
}
.site-footer {
  background-color: #311a06;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #efcab3;
}

.site-footer p {
  color: #efcab3;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #fcdcce;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #905f2e;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  color: #432818;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 18%;
  background-color: #dbc0a1;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #905f2e;
  background-color: #774318;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a:hover {
  background-color: #e4cfaf;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: grid;
    margin-right: 0;
    font-weight: 600;
  }
}/*# sourceMappingURL=sass.css.map */