/*==============================Colors=============================*/
/* RGB Color mode */
/*==============================Fonts and Typography=============================*/
/*========== Font weight ==========*/
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  font-size: 0.938rem;
  color: #1F140D;
  background-color: #dbc0a1;
  height: 100vh;
}

p {
  padding: 1.5rem 0 2.5rem 0;
  font-size: 0.938rem;
  color: #1F140D;
  font-weight: 500;
}

/* ================= body style =================*/
h1 {
  font-size: 2.5rem;
  color: #432818;
  margin: 5px 0 20px 0;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  color: #31190a;
  margin: 5px 0 20px 0;
}

h3 {
  font-size: 1.5rem;
  color: #aa896e;
  margin: 5px 0 20px 0;
}

h4 {
  font-size: 1.25rem;
  color: #cea888;
  margin: 5px 0 20px 0;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #432818;
}
a:hover {
  color: #905f2e;
}
a:active {
  color: #582f0e;
}

/* ================= header =================*/
header {
  position: relative;
}
header .navbar {
  background-color: #e4cfaf;
}
header .navbar .navbar-brand {
  font-weight: 700;
}
header .navbar .navbar-nav {
  display: flex;
  justify-content: end;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #905f2e;
}
header .btn {
  width: 120px;
  color: #1F140D;
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
}
header .btn:hover {
  scale: 1.05;
  background-color: #582f0e;
  border: #582f0e;
}

/* ================= Hero =================*/
.hire_btn {
  width: 120px;
  color: #1F140D;
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.hire_btn:hover {
  scale: 1.05;
}
.hire_btn:active {
  scale: 0.95;
  background-color: var(--call-color-hover);
}

.hero {
  min-height: calc(100vh - 100px);
  margin: 0 150px 0 150px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero .profile .me_profile {
  height: 350px;
}
.hero .profile .social_links .social-icons {
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.hero .profile .social_links .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.hero .profile .social_links .social-icons li a {
  background-color: #e4cfaf;
  color: #432818;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 20%;
  transition: all 0.2s linear;
}
.hero .profile .social_links .social-icons li a:hover {
  background-color: #e4cfaf;
}
.hero .profile .social_links .social-icons li a:active, .hero .profile .social_links .social-icons li a:focus, .hero .profile .social_links .social-icons li a:hover {
  color: #e0beb0;
  background-color: #774318;
}
.hero .info .btn_info {
  display: flex;
  gap: 2rem;
}
.hero .info .btn_info p {
  width: 75%;
}
.hero .info .btn_info a {
  width: 120px;
  color: var(--text-color);
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: scale 0.2s ease;
}
.hero .info .btn_info a:hover {
  scale: 1.05;
}
.hero .info .btn_info a:active {
  scale: 0.95;
  background-color: #582f0e;
}

/* ================= about =================*/
/* ================= media queries =================*/
.recent-projects {
  margin: 0 200px;
  padding-top: 3rem;
}

.card-project {
  display: flex;
  gap: 30px;
  padding-top: 2rem;
}

.portfolio {
  text-align: center;
  margin: 50px 80px 0 80px;
}
.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.portfolio .box-container .box {
  height: 30rem;
  overflow: hidden;
  position: relative;
}
.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #482407;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transform: translateY(-100%);
  transition: 0.2s linear;
}
.portfolio .box-container .box .content p {
  color: #fbddba;
  padding: 1rem 0;
}
.portfolio .box-container .box .content a {
  font-size: 2rem;
  color: #e0beb0;
}
.portfolio .box-container .box:hover .content {
  transform: translateY(0%);
}

.about-me {
  padding: 80px 0;
  transition: transform 0.5s ease-in-out;
}
.about-me .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.about-me .container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.about-me .container .grid .grid-item img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.about-me .container .grid .grid-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(75, 37, 9, 0.5);
}
.about-me .container .grid .grid-item .btn_info .cv_btn {
  width: 120px;
  color: #1F140D;
  text-align: center;
  padding: 0.5rem 1rem;
  border: #582f0e solid 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.about-me .container .grid .grid-item .btn_info .cv_btn:hover {
  scale: 1.05;
  background-color: #582f0e;
  border: #582f0e;
  color: #905f2e;
  font-weight: 600;
}
.about-me .container .grid .grid-item h4 {
  margin: 0 0 0.5rem 0;
  color: #31190a;
  font-weight: 600;
}
.about-me .container .grid .grid-item p {
  padding: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 16px;
}
.about-me .container .grid .grid-item p strong {
  font-weight: 900;
  color: #341b07;
  transition: color 0.3s ease-in-out;
}
.about-me .container .grid .grid-item p strong:hover {
  color: #905f2e;
}

@media only screen and (max-width: 768px) {
  .grid-item {
    align-content: center;
    justify-content: center;
  }
}
.skills-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 10%;
  background-color: #201507;
}
.skills-container .main-title {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
}
.skills-container .main-title h1 {
  color: #F3C28B;
}
.skills-container .main-title p {
  color: #fbddba;
}
.skills-container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.skills-container .row .col {
  flex-basis: 46%;
}
.skills-container .row .col .sub-title h2 {
  color: #b6754d;
}
.skills-container .row .col .skills-each .subject {
  font-size: 18px;
  font-weight: 600;
  color: #F3C28B;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.skills-container .row .col .skills-each .progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #774318;
  border-radius: 15px;
  margin-bottom: 20px;
}
.skills-container .row .col .skills-each .progress-bar::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0;
}
.skills-container .row .col .skills-each .progress-line {
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: #e4bb99;
  border-radius: 15px;
  top: -1px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
.skills-container .row .col .skills-each .progress-line::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #e4bb99;
}

@keyframes animate {
  100% {
    width: 100%;
  }
}
.education {
  margin: 2rem 5rem 0 5rem;
}
.education h1 {
  margin-bottom: 5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
}
.education .box-container .box {
  flex: 1 1 30rem;
  margin-left: 2rem;
  padding: 0 4rem 0 3.5rem;
  border-left: 0.25rem solid #7e5b3d;
  position: relative;
}
.education .box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  border-radius: 50%;
  background: #774318;
  color: #F3C28B;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: -2.5rem;
}
.education .box-container .box span {
  font-size: 1em;
  color: #fbddba;
  border-radius: 5rem;
  background: #201507;
  padding: 0.5rem 1.5rem;
}
.education .box-container .box h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}
.education .box-container .box p {
  line-height: 2;
  padding-bottom: 1rem;
}

.form {
  width: 340px;
  height: 80vh;
  background: #e4cfaf;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #774318;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  border-bottom: 3px solid #774318;
}
.form p {
  padding: 0;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #1F140D;
}
.form p input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #7e5b3d;
}
.form p input:focus {
  border-bottom: 2px solid #432818;
}
.form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #432818;
  background: 0;
  color: #31190a;
  cursor: pointer;
  transition: all 0.3s;
}
.form button:hover {
  background: #774318;
  color: #905f2e;
}
.form div {
  content: "Hi";
  position: absolute;
  bottom: -2rem;
  right: -40px;
  background: #774318;
  color: #F3C28B;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #592f13;
}
.form div span {
  margin: 0 5px 0 15px;
}

.case-study {
  margin: 0 5rem 0 10rem;
  padding: 4rem 0;
  width: auto;
  max-width: 80%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  text-align: left;
}
.case-study .description p {
  font-size: 1.2rem;
  margin-top: 0;
}
.case-study .description h1 {
  text-align: center;
}
.case-study .description h4 {
  color: #542804;
  margin-bottom: 1rem;
}
.case-study .description ul {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-weight: 400;
  font-size: 1.5rem;
}
.case-study .description img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.site-footer {
  background-color: #311a06;
  height: auto;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}
.site-footer .row p {
  color: #fbddba;
}
.site-footer .row a {
  color: #e0beb0;
}
.site-footer .row .copyright-text {
  margin: 0;
}
.site-footer .footer-links {
  padding-left: 0;
  list-style: none;
}
.site-footer .footer-links li {
  display: block;
}
.site-footer .footer-links li a {
  color: #e0beb0;
}
.site-footer .footer-links li a:focus, .site-footer .footer-links li a:active, .site-footer .footer-links li a:hover {
  color: #905f2e;
}
.site-footer .social-icons {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.site-footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.site-footer .social-icons li a {
  background-color: #e4cfaf;
  color: #432818;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 20%;
  transition: all 0.2s linear;
}
.site-footer .social-icons li a:hover {
  background-color: #e4cfaf;
}
.site-footer .social-icons li a:active, .site-footer .social-icons li a:focus, .site-footer .social-icons li a:hover {
  color: #e0beb0;
  background-color: #774318;
}
.site-footer .col-md-4 .col-sm-6 .social-icons {
  text-align: center;
}

@media (max-width: 600px) {
  .hero {
    display: grid;
    margin: 0 80px 0 80px;
    text-align: center;
  }
  .hero .profile .social_links {
    justify-content: center;
  }
  .hero .info p {
    width: 100%;
  }
  .hero .info .btn_info {
    justify-content: center;
  }
  .hero .card-project {
    flex-direction: column;
  }
  .hero .recent-projects {
    margin: 0 100px;
  }
  .portfolio {
    margin: 25px 0 0 0;
  }
}
@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
  .site-footer ul {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .skills-container {
    padding: 30px 8%;
  }
}
@media (max-width: 568px) {
  .skills-container .main-title h1 {
    font-size: 36px;
  }
  .skills-container .row {
    flex-direction: column;
    margin-top: 10px;
  }
  .skills-container .row .col:nth-child(2) {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .case-study {
    padding: 2rem 0;
    margin: 0 0 0 3rem;
    grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr));
  }
  .case-study .description {
    float: none;
    margin-left: 0;
    width: 96%;
  }
  .case-study .description:last-of-type {
    margin-bottom: 3rem;
  }
  .case-study .description p {
    font-size: 1rem;
  }
  .case-study .description img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=sass.css.map */