// footer // 

.site-footer{
    background-color:#311a06;
    height: 65vh;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    margin-top:50px;
    margin-bottom: 0px;
    width: 100%;
    
        .row{
            p{
            color: $text-font-color-light;
            }

            .copyright-text{
                margin:0
            }
        }

            .footer-links{
                padding-left:0;
                list-style:none

                li{
                    display:block

                    a{
                        color:$a-color-light;

                        &:focus, &:active, &:hover{
                            color:$a-color-hover;
                        }
                    }
                }
            }
            
            .social-icons{
            text-align:right

                a{
                    color: $a-color;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    margin-left:6px;
                    margin-right:0;
                    border-radius:18%;
                    background-color:$body-color;
                }
            }
}
