// footer // 

.site-footer{
    background-color:#311a06;
    height: auto;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    margin-top:50px;
    margin-bottom: 0px;
    width: 100%;
    
        .row{
            p{
            color: $text-font-color-light;
            }

            a{
                color: $a-color-light;
            }

            .copyright-text{
                margin:0
            }
        }

            .footer-links{
                padding-left:0;
                list-style:none

                li{
                    display:block

                    a{
                        color:$a-color-light;

                        &:focus, &:active, &:hover{
                            color:$a-color-hover;
                        }
                    }
                }
            }
            



            .social-icons{
                text-align:right;
                padding-left:0;
                margin-bottom:0;
                list-style:none;
                li{
                display:inline-block;
                margin-bottom:4px;
                    a{
                        background-color:$bg-nav;
                        color:$a-color;
                        font-size:16px;
                        display:inline-block;
                        line-height:44px;
                        width:44px;
                        height:44px;
                        text-align:center;
                        margin-right:8px;
                        border-radius:20%;
                        -webkit-transition:all .2s linear;
                        -o-transition:all .2s linear;
                        transition:all .2s linear;
                
                        &:hover{
                        background-color:$bg-nav;
                        }
                
                        &:active, &:focus, &:hover{
                        color:$a-color-light;
                        background-color:$bg-nav-hover;
                        }
                    }
                }
            }

            .col-md-4 .col-sm-6{
                .social-icons{
                    text-align: center;
                }
            }
    }

