    $header-height: 4rem;  

    /*==============================Colors=============================*/

    /* RGB Color mode */
    $fc-nav: #432818;
    $fc-nav-hover: #FFF4AC;
    $bg-nav: #e4cfaf;
    $bg-nav-hover: #774318;
    $title-color: #432818;
    $text-color:#1F140D;
    $text-color-light: #baaea7 ;
    $input-color: #7e5b3d;
    $body-color: #dbc0a1;
    $call-color: #432818;
    $call-color-hover:#582f0e;

    /*==============================Fonts and Typography=============================*/  
    $body-fonts: 'Quicksand', sans-serif;

    $big-font-size: 2rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1.125rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    $font-medium: 500;
    $font-semi-bold: 600;

