    $header-height: 4rem;  

    /*==============================Colors=============================*/

    /* RGB Color mode */
    $body-color: #dbc0a1;
    $font-color-nav: #432818;
    $a-color: #432818;
    $a-color-light:#fcdcce;
    $a-color-hover: #905f2e;
    $a-color-active:#582f0e;
    $bg-nav: #e4cfaf;
    $bg-nav-hover: #774318;
    $text-font-color:#1F140D;
    $text-font-color-light: #efcab3;
    $big-font-color: #140b06;
    $h1-font-color: #432818;
    $h2-font-color: #714429;
    $h3-font-color: #9b7c63;
    $h4-font-color: #e1a97c;
    $input-color: #7e5b3d;

    /*==============================Fonts and Typography=============================*/  
    $body-fonts: 'Quicksand', sans-serif;

    $h1-font-size: 2rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.5rem;
    $h4-font-size: 1.25rem;
    $text-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    $text-weight:500;
    $font-medium: 600;
    $font-semi-bold: 700;
    $font-bold: 900;

